@model List<licenta.Models.myIncidentRequestViewModel>


<table class="table">
    <tr>
        <th>
            TYPE
        </th>
        <th>
            TITLE
        </th>
        <th>
            CREATED BY
        </th>
        <th>
            DEPARTMENT ASSIGNED
        </th>
        <th>
            PRIORITY
        </th>
        <th>
            STATUS
        </th>
        <th> </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentRequest)
            </td>
            <td>
                <a href="~/Home/History?id=@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentAssigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <button></button>
                @*@Html.ActionLink("Mark as done ", "Assigned")|
                    @Html.ActionLink("Send", "Assigned")*@
            </td>
            <td>
                @using (Html.BeginForm("ModalPartialSendView", "Home", new { enctype = "multipart/form-data" })) { 
                    <button type="button" class="btn-block"  onclick="myFunction(@item.Id)" id="@item.Id">@item.Id</button>
                     int x = item.Id;
                    <div class="modal fade" id="myModal" role="dialog" data-url='@Url.Action("ModalPartialSendView", "Home")'></div>
                }
            </td>
        </tr>
    }

</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script type="text/javascript">
   
        function myFunction(x) {

            var urlValue = $('#myModal').data('url') + "?userid=" + x;
            var url = urlValue;
            debugger;
            $.get(url, function (data) {
                $("#myModal").html(data);
                $("#myModal").modal('show');
            });
        }
   
</script>