@model List<licenta.Models.myIncidentRequestViewModel>

<h1>DASHBOARD</h1>
<p>All requests or incidents assigned to you</p>
@if (Model.Count == 0)
{<br />
    <p style="color:red">There is no incident or request for you right now</p>
}
else
{
<table class="table">
    <tr>
        <th>
            TYPE
        </th>
        <th>
            TITLE
        </th>
        <th>
            CREATED BY
        </th>
        <th>
            DEPARTMENT ASSIGNED
        </th>
        <th>
            PRIORITY
        </th>
        <th>
            STATUS
        </th>
        <th> </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentRequest)
            </td>
            <td>
                <a href="~/Home/History?id=@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentAssigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @using (Html.BeginForm("ModalPartialDone", "Home", new { enctype = "multipart/form-data" }))
                {
                    <button type="button" class="btn-block btn-primary" onclick="doneFunction(@item.Id)" id="@item.Id">Done</button>
                    int x = item.Id;
                    <div class="modal fade" id="modalDone" role="dialog" data-url='@Url.Action("ModalPartialDone", "Home")'></div>
                }
            </td>
            <td>
                @using (Html.BeginForm("ModalPartialSendView", "Home", new { enctype = "multipart/form-data" }))
                {
                    <button type="button" class="btn-block btn-primary"  onclick="sendFunction(@item.Id)" id="@item.Id">Send</button>
                    int x = item.Id;
                    <div class="modal fade" id="modalSend" role="dialog" data-url='@Url.Action("ModalPartialSendView", "Home")'></div>
                }
            </td>
        </tr>
    }

</table>}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<script type="text/javascript">
   
        function sendFunction(x) {

            var urlValue = $('#modalSend').data('url') + "?userid=" + x;
            var url = urlValue;
            debugger;
            $.get(url, function (data) {
                $("#modalSend").html(data);
                $("#modalSend").modal('show');
            });
        }

        function doneFunction(x) {

            var urlValue = $('#modalDone').data('url') + "?userid=" + x;
            var url = urlValue;
            $.get(url, function (data) {
                $("#modalDone").html(data);
                $("#modalDone").modal('show');
            });
        }

</script>