@model licenta.Models.HistoryRequestViewModel
@{
    ViewBag.Title = "History";
}

<h6>History</h6>
<p>@Model.type</p>
<h6>Title</h6>
<p>@Model.title</p>
<h6>Description</h6>
<p>@Model.description</p>
<h6>Priority</h6>
<p>@Model.priority</p>
<br />
<div>
    <style>
        
        table, th, td {
            border: 1px solid black;
        }
    </style>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">from</th>
            <th>to</th>
            <th>data</th>
            <th>status</th>
            <th>send back to</th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (var req in Model.histories)
            {
                <tr>
                    <td>
                        @req.from
                    </td>
                    <td>
                        @req.to
                    </td>
                    <td>
                        @req.data
                    </td>
                    <td>
                        @req.status
                    </td>
                    <td>
                        @req.approvaltype
                    </td>
                  
                </tr>
                <tr>
                    <th>MESSAGE</th>
                    <td>

                        @req.message
                        <hr />
                    </td>
                </tr>
               
            }
        }
    </tbody>

</table>
    </div>
