@using licenta.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-lg-pull-10">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3>Log in.</h3>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.LabelFor(m => m.Company, new { @class = "col-md-2 control-label" })

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })

                        @Html.ValidationMessageFor(m => m.Company, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.LabelFor(m => m.User, new { @class = "col-md-2 control-label" })

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.User, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.User, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-primary" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Don't have an account? Register here!", "Register","Account")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
            }
        </section>
</div></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
