@model licenta.Models.myFilteredIncidentRequestViewModel

<h1>RAPORTS</h1>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            @{ int incidents = Model.incidentrequestCount["Incident"];
                int requests = Model.incidentrequestCount["Request"];}
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],

                ['Incidents',@incidents],
                ['Requests', @requests],

            ]);

            var options = {
                pieHole: 0.2,
            };

            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);

                @{ int pending = Model.statusCount["Pending"];
                    int inprogress = Model.statusCount["In Progress"];
                    int waitingforapproval = Model.statusCount["Waiting for approval"];
                    int done = Model.statusCount["Done"];}
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],

                ['Pending',@pending],
                ['In progress', @inprogress],
                ['Waiting for approval',@waitingforapproval],
                ['Done', @done],

            ]);

            var options = {
                pieHole: 0.2,
            };

            var chart = new google.visualization.PieChart(document.getElementById('xxl'));
            chart.draw(data, options);



                @{      int hardware = Model.depassignedCount["Hardware"];
                        int software = Model.depassignedCount["Software"];
                        int finances = Model.depassignedCount["Finances"]; }
            var data = google.visualization.arrayToDataTable([

                ['Task', 'Hours per Day'],


                ['Hardware',@hardware],

                ['Software', @software],

                ['Finances',@finances],

            ]);

                    var options = {
                pieHole: 0.2,
            };
                    var chart = new google.visualization.PieChart(document.getElementById('try3'));
                    chart.draw(data, options);
        }
    </script>
</head>
<body>


    <p>

        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Filters
        </a>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                @using (Html.BeginForm("Raport", "Home", FormMethod.Get))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <table class="table">
                                <tr>
                                    <td><b>Types</b></td>
                                    <td>
                                        Incident
                                        @Html.CheckBoxFor(m => m.fm.isCheckedType[0], Model.fm.isCheckedType[0])
                                    </td>
                                    <td>
                                        Request
                                        @Html.CheckBoxFor(m => m.fm.isCheckedType[1], Model.fm.isCheckedType[1])
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Status</b></td>
                                    <td>
                                        Pending
                                        @Html.CheckBoxFor(m => m.fm.isCheckedStatus[0], Model.fm.isCheckedStatus[0])
                                    </td>
                                    <td>
                                        In Progress
                                        @Html.CheckBoxFor(m => m.fm.isCheckedStatus[1], Model.fm.isCheckedStatus[1])
                                    </td>
                                    <td>
                                        Waiting for approval
                                        @Html.CheckBoxFor(m => m.fm.isCheckedStatus[2], Model.fm.isCheckedStatus[2])
                                    </td>
                                    <td>
                                        Done
                                        @Html.CheckBoxFor(m => m.fm.isCheckedStatus[3], Model.fm.isCheckedStatus[3])
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Department</b></td>
                                    <td>
                                        Hardware
                                        @Html.CheckBoxFor(m => m.fm.isCheckedCategory[0], Model.fm.isCheckedCategory[0])
                                    </td>
                                    <td>
                                        Software
                                        @Html.CheckBoxFor(m => m.fm.isCheckedCategory[1], Model.fm.isCheckedCategory[1])
                                    </td>
                                    <td>
                                        Finances
                                        @Html.CheckBoxFor(m => m.fm.isCheckedCategory[2], Model.fm.isCheckedCategory[2])
                                    </td>

                                </tr>
                                <tr>
                                    <td><b>Order</b></td>

                                    <td>
                                        @Html.DropDownListFor(
                                                                      m => m.orderVal,
                                                                      new SelectList(Model.orderedBy, "Value", "Key"), new { @class = "form-control" })
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>

                }

            </div>

        </div>


    <p>Overall informations</p>

    <table width="100%" style="border-collapse: separate; border-spacing: 10px;">
        <tr>
            <td align="center" style="background-color:steelblue; color:white;">
                <h2><b> &nbsp;Incidents created: @Model.incidentrequestCount["Incident"]&nbsp;</b></h2>
            </td>

            <td align="center" style="background:goldenrod; color:white;">
                <h2><b> &nbsp;Requests created: @Model.incidentrequestCount["Request"]&nbsp;</b></h2>
            </td>

            <td align="center" style="background-color:green; color:white;">
                <h2><b> &nbsp;Done: @Model.statusCount["Done"]&nbsp;</b></h2>
            </td>

            <td align="center" style="background-color:orangered; color:white;">
                <h2>
                    <b>
                        &nbsp;On working: @(Model.statusCount["Pending"] +
Model.statusCount["In Progress"] +
Model.statusCount["Waiting for approval"])
                        &nbsp;
                    </b>
                </h2>
            </td>

        </tr>
    </table>

    <br />
    <p>Charts</p>

    <table border="1" align="center">
       <tr>
           <td align="center"><b>Incidents/Requests</b></td>
           <td align="center"><b>Status</b></td>
           <td align="center"><b>Departments</b></td>  
       </tr>
        <tr>

            <td>
                <div id="donutchart" style="width: 380px; height: 350px;"></div>
            </td>

      
       
            <td>
                <div id="xxl" style="width: 380px; height: 350px;"></div>
            </td>
    
            <td>
                <div id="try3" style="width: 380px; height: 350px;"></div>
            </td>
        </tr>
    </table>
</body>
<div style="text-align:center">
    <h1>
        <b>@Html.ActionLink("Download Raport", "DownloadRaport", new { filter = Model })</b>
    </h1>
</div>
