
@model List<licenta.Models.myIncidentRequestViewModel>

<h1>Unassigned</h1>
<p>All incidents or requests available to assign</p>

@if (Model.Count == 0)
{<br />
    <p style="color:red">There is no incident or request available for assign</p>
}
else
{
<table class="table">
    <tr>
        <th>
            TYPE
        </th>
        <th>
            TITLE
        </th>
        <th>
            CREATED BY
        </th>
        <th>
            DEPARTMENT ASSIGNED
        </th>
        <th>
            PRIORITY
        </th>
        <th>
            STATUS
        </th>
        <th> </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IncidentRequest)
    </td>
    <td>
        <a href="~/Home/History?id=@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedBy)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DepartmentAssigned)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Priority)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.ActionLink("Assign", "Assigned", new { id = item.Id })
    </td>
</tr>
    }

</table>
}