@model licenta.DatabaseConnection.User
@{
    ViewBag.Title = "Manage account";
}

<h1>@ViewBag.Title.</h1>

<div>
    <h3>Change your account settings</h3>
    <hr />
    <table>
        <tr>
            <td width="70%" style="vertical-align:top">
                <h1>Settings:</h1>
                <br />
                <p> @Html.ActionLink("Change your username", "ChangeUsername")</p>


                <p>     @Html.ActionLink("Change your password", "ChangePassword")</p>


                <p>@Html.ActionLink("Delete account", "ChangePassword")</p>

                <p>@Html.ActionLink("Report a problem", "ChangePassword")</p>
            </td>
            <td>
                <img src="~/Images/manage.png" />
            </td>
        </tr>
    </table>
  
</div>
